ENVIRONMENT=development
# Change password if needed
DB_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/postgres
ALEMBIC_DB_URL=postgresql://postgres:postgres@127.0.0.1:5432/postgres
POSTGRES_PASSWORD=postgres
# Run 'openssl rand -hex 32' to generate key
SESSION_SECRET_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890
## Run 'openssl genrsa -out private.pem 2048' to generate keys
#JWT_PRIVATE_KEY_PATH=private.pem
## For existing key run 'openssl rsa -in private.pem -pubout -out public.pem'
#JWT_PUBLIC_KEY_PATH=public.pem
# SMTP server settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=a.a@gmail.com
SMTP_PASSWORD=my_super_secret_password
